.header {
    background: black;
    padding: 15px 0;
}

.header-inner {
    width: 80%;
    margin: 0 auto;
}

.header-utilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.header-nav__item {
    margin: 10px;
    appearance: none;
    color: aliceblue;
}

.header-nav__link {
    appearance: none;
    text-decoration: none;
    color: aliceblue;
}

.header-nav__button {
    appearance: none;
}